h1 {
    font-size:50px;
}

dd{
    font-size:2rem ;
    font-weight:bold;
}

/*div{
    padding: 10px;
    border: 80px;
    border-color: red;
    border-width: 20px;
    background: lightgray;
} -*/